:root {
  --white: #FFFFFF;
  --black: #000000;
  --black-content: #333333;
  --black-copyright: #231F20;
  --blue-light: #81B3D2;
  --blue: #669EC0;
  --blue-dark: #5496BD;
  --brown-light: #766357;
  --brown: #604E43;
  --brown-dark: #503E33;
  --brown-title: #766458;
  --gray-light: #F2F2F2;
  --gray: #EBEBEB;
  --gray-dark: #A9A9A9;
  --gray-border: #E5E5E5;
  --gray-arrow: #CACACA;
  --gray-rating: #666666;
  --gray-background: #EEEEEE;
  --gray-block: #6A6A6A;
  --gray-copyright: #BDBBBC;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black, #000000);
  background-color: var(--white, #FFFFFF);
}
a {
  text-decoration: none;
}
.navigation-list {
  list-style: none;
}
.navigation-item  a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black, #000000);
}
.navigation-item a:hover {
  color: var(--blue-light, #81B3D2);
}
.navigation-item a:focus {
  color: var(--black, #000000);
  opacity: 0.3;
}
.main-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, #000000);
}
.main-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-content, #333333);
}
.main-features {
  background-color: var(--blue-light, #81B3D2);
}
.main-features h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--white, #FFFFFF);
}
.main-features p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--white, #FFFFFF);
}
.main-features-next {
  background-color: var(--gray-background, #EEEEEE);
}
.main-features-next h2,
.main-benefits h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black, #000000);
}
.main-features-next p,
.main-benefits p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black-content, #333333);
}
.main-title-down h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--black, #000000);
}
.main-title-down p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-content, #333333);
}
.button-search-hotels {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--white, #FFFFFF);
  background-color: var(--brown-light, #766357);
}
.button-search-hotels:hover {
  background-color: var(--brown, #604E43);
}
.button-search-hotels:focus {
  background-color: var(--brown-dark, #503E33);
}
.footer-link,
.footer-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, #000000);
}
.footer-copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--black, #000000);
}
.footer-copyright-link img:hover {
  color: var(--blue-light, #81B3D2);
}
.footer-copyright-link img:focus {
  color: var(--gray-copyright, #BDBBBC);
}
.form {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--white, #FFFFFF);
}
.form-button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--white, #FFFFFF);
}
.sort h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, #000000);
}
.sort span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--black, #000000);
}
.sort-list {
  list-style: none;
}
.sort-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--black, #000000);
  opacity: 0.3;
  border-bottom: 1px dashed var(--blue-light, #81B3D2);
}
.sort-item a:hover {
  color: var(--blue-light, #81B3D2);
  border-bottom: 1px dashed var(--blue-light, #81B3D2);
}
.sort-item a:focus {
  color: var(--black, #000000);
  opacity: 1;
  border-bottom: none;
}
.hotel-a {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black, #000000);
}
.hotel-a:hover {
  color: var(--blue-light, #81B3D2);
}
.hotel-a:focus {
  color: var(--black, #000000);
  opacity: 0.3;
}
.hotel p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black-content, #333333);
}
.hotel-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--white, #FFFFFF);
  background-color: var(--blue-light, #81B3D2);
}
.hotel-link:hover {
  background-color: var(--blue, #669EC0);
}
.hotel-link:focus {
  background-color: var(--blue-dark, #5496BD);
}
.hotel-link2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--white, #FFFFFF);
  background-color: var(--brown-light, #766357);
}
.hotel-link2:hover {
  background-color: var(--brown, #604E43);
}
.hotel-link2:focus {
  background-color: var(--brown-dark, #503E33);
}
.hotel-rating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-rating, #666666);
  background-color: var(--gray-light, #F2F2F2);
}
